html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #cccccc;
}

#contenedor-padre {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.titulo-principal {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.titulo-principal h1 {
  margin-top: 100px;
  margin-bottom: 0;
  font-family: 'Baloo 2';
  font-weight: 600;
  font-size: 144px;
}

.contenido-principal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 615px;
  margin-left: 37px;
  margin-bottom: 35px;
  margin-top: 0;
}

.contenido-principal h2 {
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.contenido-principal p {
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

.contenido-principal strong {
  color: #f2f2f2;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
}

#servicios-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 96%;
}

#servicios-texto h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 72px;
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
  color: #f2f2f2;
  line-height: 96.8%;
  width: 609px;
}

#servicios-texto p {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  width: 608px;
}

#servicios-texto sub,
#servicios-texto a {
  font-family: 'Assistant';
  font-style: normal;
  vertical-align: baseline;
  color: #cccccc;
  text-underline-offset: 1.5px;
}

#servicios-texto a:hover {
  text-decoration: none;
  color: #f2f2f2;
}

.contenido-inferior {
  margin-top: 23px;
  margin-bottom: 45px;
}

.icono-contacto1 {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 90%;
  top: 88%;
}

.icono-contacto {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 35px;
  right: 35px;
  cursor: pointer;
  text-decoration: none;
}

.icono-contacto p {
  font-family: 'Assistant';
  font-style: normal;
  vertical-align: baseline;
  color: #9fa4a9;
  font-weight: 700;
  font-size: 14.6506px;
  line-height: 18px;
  margin-top: 3.49px;
  margin-bottom: 0;
}

.icono-svg-whatsapp {
  fill: #1c8a4d;
}

#servicios-iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 40%;
  height: 95%;
}

.cuadro-servicio {
  width: 273px;
  height: 84px;
  background: #192940;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.cuadro-servicio p {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  width: 223px;
  color: #f2f2f2;
}

.cuadro-servicio sub {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.envoltura-servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedor-servicios-iconos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.contenedor-servicios-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.cuadro-servicio-icono {
  width: 84.88px;
  height: 84px;
  background: #192940;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.seccion-servicios {
  background: linear-gradient(270deg, #041426 7.34%, #192940 80.71%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  height: 93vh;
  width: 100vw;
}
