html,
body {
  width: 100%;
  height: auto !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #cccccc;
}

#contenedor-padre {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: rgb(244, 247, 246);
  z-index: 1;
  transition: transform 0.5s ease-in-out 0s;
}

.seccion-principal {
  background: #12151b;
  position: relative;
  min-height: calc(100vh - 68px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  clear: both;
  z-index: 0;
  transition: padding 0.6s ease-in-out;
  gap: 160px;
  padding-left: 96px;
  padding-right: 95px;
  padding-top: 68px;
}

.contenido-principal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 615px;
  margin-left: 37px;
  margin-bottom: 35px;
  margin-top: 0;
}

.contenido-principal h1 {
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
  font-size: 61px;
  margin: 0;
}

.contenido-principal p {
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  margin: 0;
}

.contenido-principal strong {
  color: #f2f2f2;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
}

#servicios-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#servicios-texto h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
  color: #f2f2f2;
  line-height: 96.8%;
  width: 592px;
}

#servicios-texto p {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  width: 592px;
}

#servicios-texto sub,
#servicios-texto a {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  vertical-align: baseline;
  color: #cccccc;
  text-underline-offset: 1.5px;
}

#servicios-texto a:hover {
  text-decoration: none;
  color: #f2f2f2;
}

.contenido-inferior {
  margin-top: 23px;
  margin-bottom: 45px;
}

.icono-contacto {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  text-decoration: none;
  z-index: 10;
}

.icono-contacto p {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  vertical-align: baseline;
  color: #9fa4a9;
  font-weight: 700;
  font-size: 14.6506px;
  line-height: 18px;
  margin-top: 3.49px;
  margin-bottom: 0;
}

.icono-svg-whatsapp {
  fill: #1c8a4d;
}

#servicios-iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.cuadro-servicio {
  width: 273px;
  height: 84px;
  background: #25282e;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.cuadro-servicio p {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  width: 223px;
  color: #f2f2f2;
}

.cuadro-servicio sub {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.envoltura-servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedor-servicios-iconos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.contenedor-servicios-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.cuadro-servicio-icono {
  width: 84.88px;
  height: 84px;
  background: #25282e;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.seccion-servicios {
  background: #12151b;
  position: relative;
  min-height: calc(100vh - 68px);
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  clear: both;
  z-index: 0;
  transition: padding 0.6s ease-in-out 0s;
  gap: 158px;
  padding-top: 68px;
}

.contenedor-social-media {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  bottom: 15px;
  left: 15px;
  gap: 12px;
  z-index: 10;
}

.cuadro-social-media {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border: 2px solid #f2f2f266;
  box-sizing: border-box;
  border-radius: 4px;
  gap: 12px;
}

.cuadro-social-media:hover {
  border: 2px solid #f2f2f2b3;
}

.iconoMUI {
  color: #ffffff99;
  font-size: 22px;
}

.cuadro-social-media:hover .iconoMUI {
  color: #ffffffe6;
}

.css-1k51tf5-MuiTooltip-tooltip {
  background-color: #3a3d42 !important;
  color: #f2f2f2 !important;
  font-family: 'Assistant', sans-serif !important;
  font-weight: 600 !important;
  font-size: 12px !important;
}

.css-kudwh-MuiTooltip-arrow {
  color: #3a3d42 !important;
}

.pagina-uno {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  gap: 22px;
}

.pagina-uno .logo-completo {
  width: 25vw;
  align-self: center;
}

.pagina-uno h5 {
  color: #f2f2f2;
  margin: 0;
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.pagina-uno p {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.pagina-dos {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
}

.pagina-tres {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
}

.pagina-tres h3 {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  margin: 0;
}

.logo-barra {
  width: 12vw;
  min-width: 150px;
}

.activo .logo-barra #Neon {
  fill: #fe005f;
  opacity: 0.6;
}

.activo .logo-barra #Rayo {
  fill: #44c6e9;
  opacity: 0.6;
}

.activo .logo-barra:hover #Neon {
  fill: #fe005f;
  opacity: 1;
}

.activo .logo-barra:hover #Rayo {
  fill: #44c6e9;
  opacity: 1;
}

.logo-barra:hover #Neon {
  fill: #fe005f;
}

.logo-barra:hover #Rayo {
  fill: #44c6e9;
}

.logo-barra:hover #Icono .obj-1 {
  fill: #fe005f;
}

.logo-barra:hover #Icono .obj-2 {
  fill: #44c6e9;
}

.activo .logo-barra #Icono .obj-1 {
  fill: #fe005f;
}

.activo .logo-barra #Icono .obj-2 {
  fill: #44c6e9;
}

.logo-completo {
  width: 63vw;
  cursor: pointer;
}

.video-fondo {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #12151b;
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
  z-index: -1;
}

.navegacion-modal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 50%;
}

.navegacion-modal .MuiButton-root {
  width: 45px;
  min-width: 55px;
}

.navegacion-modal .MuiButton-root:hover {
  background-color: rgb(166 184 202 / 4%);
}

.btn-cerrar {
  display: flex;
  flex-direction: row;
  place-content: center flex-end;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 11;
}

.btn-cerrar:hover .MuiButton-root {
  background-color: rgb(166 184 202 / 4%);
}

.btn-cerrar:hover .MuiSvgIcon-root {
  color: #f2f2f2;
}

.navegacion-modal .MuiTouchRipple-root {
  color: rgba(227, 234, 241, 0.37);
}

.btn-cerrar .MuiTouchRipple-root {
  color: rgba(227, 234, 241, 0.37);
}

.modal-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 76.8vw;
  height: 70vh;
  background: rgb(37, 40, 46);
  border-radius: 6px;
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.modal-envoltura-contenido {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 10px;
  z-index: 10;
}

.pagina-contacto {
  background: #12151b;
  position: relative;
  min-height: calc(100vh - 68px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  clear: both;
  z-index: 0;
  transition: padding 0.6s ease-in-out;
  gap: 160px;
  padding-left: 96px;
  padding-right: 95px;
  padding-top: 68px;
}
